

#googleMap{
  top: 0;
  left: 10%;
  height:100%;
  width:80%;

  position:initial;
}

.map_info_wrapper{
    box-shadow:none;
    color:#515151;
    font-family: "Georgia", "Open Sans", Sans-serif;
    text-align: center;
    width: 100% !important;
    border-radius: 0;
    left: 0 !important;
    top: 20px !important;
}

 #propertymap .gm-style-iw > div > div{
    background: #FFF!important;
}

.img_wrapper {
    height: 150px;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin: 0px auto;
}

.img_wrapper > img {
    width: 100%;
    height:auto;
}

.property_content_wrap {
    padding: 0px 0px;
}

.property_title{
    min-height: auto;
    font-weight: bold;
}
.property_listed_date{
  font-style: italic;
  font-size: 12px;
}
.property_type{
  word-spacing: 10px;
  font-weight: bold;
}
