table{

  border-collapse: collapse;
  box-shadow: -2px 1px 14px #e5e6e8;
  cursor: pointer;


}
tr:hover {background-color:#f5f5f5;}
.Farmer_name{
  float: left;
  font-size: 20px;
  text-align: left;
  font-family: Arial;

}
.Harvest, .listed_date{

  font-weight: lighter;
  font-family: Arial;
  float: left;
  font-size: 15px;
  text-align: left;

}
.list_image{
  height: auto;
  right: auto;
  padding: 0px 0px 0px 0px;
  right: 20px;
  width: 50px;

}

.Harvest{
  font-size: 12px;
  color: #00BFFF;

}

.listed_date{
  font-style: italic;
  font-size: 10px;
  color: #D3D3D3;
}
img{
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;

  border-left:  solid;
  border-image:   linear-gradient(to bottom, #86DF7B 50%,#7BAADF 50%) 2;
}
